section
  +subsubsection("Functions")(id="functions")
    p Functions are also a fundamental data structure. Here are some useful functions in R: 
      ul
        +liptitle('append()')
          p.lip add elements to a vector
        +liptitle('unique()')
          p.lip get only the unique items in a vector
        +liptitle('union(),intersect()')
          p.lip Set operations
        +liptitle('mean(),median(),min(),max(),sd()')
          p.lip Statistical functions
        +liptitle('sample()')
          p.lip Random sampling
