+subsection('Typing')(id="typing")
	p
		| Typing in R is dynamic. This means that types are inferred. This is much like typing in Python or Javascript. 
	p
		| For example, if we create a vector with all character strings, the vectors type will be character: 
	+rcode 
		| a <- c("a","b","c")
		| typeof(a)
	+rcode 
		| [1] "character"
	p
		| Note that the typeof function will tell us the type of an item. If we create a vector with numbers only, it will come out as a double
	+rcode 
		| a <- c(1,2,3)
		| typeof(a)
	+rcode 
		| [1] "double"
	include 0-type-coercion/contents
