.idea/
src/styles/doc-main.css
src/styles/ss-main.css
node_modules/
.Rproj.user
src/components/_processed/*
src/components/rfiddleHelper
src/components/jquery
src/components/package.json
src/components/backbone
src/components/reveal.js
src/R/
public/
views/
