.idea/*
src/bower_components/*
src/styles/doc-main.css
dist/*
src/styles/ss-main.css
src/node_modules
.Rproj.user

src/R/R.Rproj
src/R/_datasets.R
src/components/_processed
src/components/rfiddleHelper
src/components/jquery
src/components/package.json
src/components/backbone
src/components/reveal.js
src/R/_processed
src/views/_R
public
./views