doctype html
html
   head
      title Baltimore Dataday Resources
   body
     ul
       li
         a(href='slides') Follow along with the slides.
       li
         a(href='docs') Go to the documentation: makes it easier to follow along with the online R interpreter.
       li
         a(href='http://www.r-fiddle.org/#/') Online R Interpreter
     
