+subsubsection("Atomic Types")(id="atomic_types")
  p There are 5 atomic data types, as previously mentioned.  
  ul
    li
      a
        i logical 
        |  - a boolean, true or false
    li
      a 
        i numeric
        |  - includes subtypes double and integer
    li 
      a 
        i 
  
