extends doc-layout
block content
	div#sidebar.interface
		include sections/main/sb.jade
		include sections/0-getting-started/index
		include sections/1-the-basics/index
		include sections/2-working-with-data/index
		include sections/3-statistical-analysis/index
		include sections/4-plotting/index
		include sections/5-extra/index
	div#mainpanel.container
		include ./sections/main/mp.jade
		include sections/0-getting-started/contents
		include sections/1-the-basics/contents
		include sections/2-working-with-data/contents
		include sections/3-statistical-analysis/contents
		include sections/4-plotting/contents
		include sections/5-extra/contents

