extends doc-layout
block content
	div#sidebar.interface
		include ./sections/main/sb.jade
		include ./sections/0/sb.jade
		include ./sections/1/sb.jade
		include ./sections/2/sb.jade
		include ./sections/3/sb.jade
		include ./sections/4/sb.jade
		include ./sections/5/sb.jade
	div#mainpanel.container
		include ./sections/main/mp.jade
		include ./sections/0/mp.jade
		include ./sections/1/mp.jade
		include ./sections/2/mp.jade
		include ./sections/3/mp.jade
		include ./sections/4/mp.jade
		include ./sections/5/mp.jade

