extends ss-layout
block content
	div.reveal
		div.slides
			include sections/0-getting-started/slides
			include sections/1-the-basics/slides
			include sections/2-working-with-data/slides
			include sections/3-statistical-analysis/slides
			include sections/4-plotting/slides
			include sections/5-extra/slides


