extends ss-layout
block content
	div.reveal
		div.slides
			section Single Horizontal Slide
			section Another Horizontal Slide
			section
				section This is a set of vertical slides
				section
					+rcode
						include ./_R/attaching_data.jade

