+toc_section('#1','1. The Basics')
	+toc_item('#what_is_r', 'What is R?')
	+toc_item('#the_arrow', 'The Arrow')
	+toc_subtitle('#vectors','Vectors')
		+toc_subitem('#indexing', 'Indexing')
	+toc_subtitle('#data_types','Data Types')
		+toc_subitem('#data_types_numeric', 'Numeric')