+subsubsection("Creating Vectors")(id="creating_vectors")
  p 
    | In R, vectors are created with the c() command. The following are all examples of vectors:
  +rcode
    | a <- c(1,2,3) #an integer vector
    | b <- c("a","bb","ccc") #a character vector
    | c <- c(TRUE,FALSE,TRUE) #a boolean vector
  p 
    | There are many other additional ways to generate vectors, for example the following: 
  +rcode
    | a <- 1:7 #produces a vector with [1,2,3,4,5,6,7]
    | b <- -2:3 #produces a vector with [-2,1,0,1,2]
    | c <- seq(1,2, by=0.5) # produces a vector with [1.0,1.5,2.0]
   
