+subsection('Read.csv')(id="read_csv")
  p read.csv() is the most common method of reading in tabular data. read.csv() reads tabular data into a data frame. 
  a http://www.r-fiddle.org/#/fiddle?id=M1nTdgrw
