+subsection('What is R?')(id="what_is_r")
	p
	| R a statistical programming language. It is designed primarily for statistics and graphics, however, you can do almost anything you could do in any other programming language in R.'
	p
	| R is an interpreted language. Commands in R are given through a command-line interface, or are written into script files to be read by the interpreter. R is this a scripting language.