+subsection('Data Types')(id="data_types")
  p In R, there are a number of different types of data. 
  ul 
    li 
      a The atomic data types
    li
      a Factors
    li 
      a NA types
    li
      a List types
    li
      a Functions
    li
      a Expressions
  p Each of these is described below.
  include 0-atomic-types/contents
  include 1-factors/contents
  include 2-na-types/contents
  include 3-list-types/contents
  
