section 
  +subsection('Data Types')(id="data_types")
    p In R, there are a number of different types of data and data structures.
    ul 
      li 
        a The atomic data types
      li
        a Factors
      li 
        a Missing Data/ Special Types
      li
        a Arrays and Matrices
      li
        a Lists and Data.Frames
      li
        a Functions
      li
        a Expressions
include 0-atomic-types/slides
include 1-factors/slides
include 2-missing-and-special-data-types/slides
include 3-arrays-and-matrices/slides
include 4-lists-and-data-frames/slides
include 5-functions/slides
include 6-expressions/slides
  
