+subsubsection("Missing and Special Data Types")(id="missing_and_special_data_types")
  p We will be discussing four missing and special data types:
  ul 
    li
      a NA
    li
      a NaN
    li
      a NULL
    li
      a Inf,-Inf
  +subsubsubsection("NA")(id="NA")
    
