section
  +subsubsection("Missing and Special Data Types")(id="missing_and_special_data_types")
    p We will be discussing four missing and special data types:
    ul 
      li
        a NA
      li
        a NaN
      li
        a NULL
      li
        a Inf
section
  +subsubsubsection("NA")(id="na")
    p NA values are "Not Available", or data values that are missing. If you read in a table with missing values, the default behavior is for it to be interpreted as NA.
section
  +subsubsubsection("NaN")(id="nan")
    p NaN means "Not a Number". These are values which can not be computed. For example:
    +rcode 0/0
    +rcode [1] NaN
    p These values normally occur when you perform a calculation on a dataset, and should not be present on an initial data read.
section
  +subsubsubsection("NULL")(id="null")
    p NULL values indicate that a value does not exist. Many functions in R will return NULL if the result is undefined.
section
  +subsubsubsection("Inf")(id="inf")
    p Inf represents values which mathematically compute to infinity, or approach infinity. We can see this with the following examples: 
    +rcode 
      | a <- c(1/0, Inf+1, Inf-1, Inf/2)
      | a
    +rcode 
      | [1] Inf Inf Inf Inf
  p You can test an element for these data types with the corresponding functions is.NA(), is.NaN(), is.null(), and is.infinite()
