+main_section("Plotting/ Graphics")(id="4")
  include 0-plotting-points/contents
  include 1-plotting-linear-regressions/contents
  include 2-histograms/contents
  include 3-advanced-plotting-with-ggplot2/contents
